<!-- <h1> Student Profiles</h1>
{% for student in student_list %}
<div class="card">
    <div class="card-header">
      Student
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ student.name }}</h5>
      <p class="card-text">
        <li>{{ student.email }} </li>
        <li>{{ student.major }} </li>
        <li>{{ student.hobbies }} </li>
        <li>{{ student.social_media }} </li>
        <li>{{ student.classes }} </li>
      </p>
    </div>
  </div>



{% endfor %} -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

<h1> Student Profiles </h1>
{% for student in student_list %}
<div class="card">
    <div class="card-header">
        Student
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ student.name }}</h5>
        <p class="card-text">
        <li>Email: {{ student.email }} </li>
        <li>Major: {{ student.major }} </li>
        <li>Hobbies: {{ student.hobbies }} </li>
        <li>Social Media: {{ student.social_media }} </li>
        <li>Classes: {{ student.classes }} </li>
        </p>
    </div>
</div>
<br/>
{% endfor %} 
    
    <!-- End Example Code -->
  </body>
</html>